body{
	background-image:url("photo/back1.jpg");
	background-size:50%;
}
#body{
	-webkit-box-shadow: 0px 0px 17px 0px rgba(143,136,143,1);
	-moz-box-shadow: 0px 0px 17px 0px rgba(143,136,143,1);
	box-shadow: 0px 0px 17px 0px rgba(143,136,143,1);
	border-radius:5px;
	height:1200px;
	width:830px;
	background-color:white;
	margin:auto;
}
#header-logo{
	width:800px;
	height:110px;
	border:0px;
	margin-left:auto;
	margin-right:auto;
}
#logo{
	margin-left:20px;
	width:320px;
	height:50px;
	border:none
}
#move-text{
	float:right;
	background-color:#F0F0F0 ;
	width:300px;
	font-size:12px;
	border:solid 1px #D8D8D8 ;
	border-radius:3px;
}
#redbg{
	border:none;
	width:830px;
	height:30px;
	background-color:#880000 ;
	margin:auto;
}
#redbg ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
}
#redbg ul li{
	text-align:center;
	height:28px;
	width:63.2px;
	display:inline-block;
	line-height:1.8em;
}
#redbg ul li a{
	font-size:12px;
	margin:auto;
	color:white;
	text-decoration:none;
}
#select{
	display:none;
}
.slider{
	height:300px;
	width:750px;
	margin:30px auto;
	-webkit-box-shadow: 0px 0px 17px 0px rgba(143,136,143,1);
	-moz-box-shadow: 0px 0px 17px 0px rgba(143,136,143,1);
	box-shadow: 0px 0px 17px 0px rgba(143,136,143,1);
	background-color:#C0C0C0;
}
.window{
	background-color:white;
	border-radius:5px;
	border:solid 1px #D8D8D8 ;
	
}
.contactUs{
	clear:both;
	display:block;
	position:relative;
	float:left;
	margin-left:20px;
	margin-top:10px;
	width:210px;
	height:210px;
}
.contactUs-title{
	background-image:url("photo/title.jpg");
	background-size:100% auto;
	border-bottom:solid 1px #C0C0C0;
	width:210px;
	height:35px;
	border-radius:4px;
}
.contactUs-text p{
	font-size:12px;
	text-indent:0.5em;
}
.aboutUs{
	margin-left:260px;
	height:350px;
	width:525px;
}
.aboutUs-title{
	border-bottom:solid 1px #D8D8D8;
	font-size:14px;
	width:525px;
	border-radius:4px;
	height:25px;
	color:#880000;
	font-weight:700;
	font-size:16px;
}
.ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
}
.alltitle{
	font-weight:600;
	height:25px;
	line-height:2.2em;
	font-size:13px;
	color:white;
	width:110px;
	display:inline-block;
}
.aboutUs-title ul li a{
	color:white;
	text-decoration:none;
}
.aboutUs-text{
	line-height:2em;
	background-image:red;
	width:470px;
	height:150px;
	margin:20px auto;
	font-size:12px;
}
.aboutUs-text p{
	font-size:14px;
	text-indent:1.5em
}
.serveMenu{
	float:left;
	margin-left:20px;
	height:232px;
	width:210px;
	float:left;
}
.serveMenu-title{
	background-image:url("photo/title.jpg");
	background-size:100% auto;
	border-bottom:solid 1px #C0C0C0;
	font-size:14px;
	width:210px;
	border-radius:4px;
	height:35px;
}
.serveMenu-text li{
	border-bottom:dotted 1px #880000;
	font-size:13px;
	text-align:left;
	height:32px;
	width:200px;
	margin:auto;
	display:block;
	line-height:2.5em;
	color:#880000;
}
.bottom{
	text-align:center;
	background-color:#880000;
	width:830px;
	height:30px;
	color:white;
	margin:auto;
	
}
